<h1> Products </h1>
<p> Discover & Buy Exclusive Art from Poland designed and created by artist Alicja Kucharska! </p>
<ul>
  <% @products.each do |product| %>
    <li>
    <%= product.name %>
    </li>
  <% end %>
</ul>
